.svg-turkiye-haritasi {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    position:relative;
    z-index:0;
}

.svg-turkiye-haritasi2 {
    max-width: 450px;
    margin: 10px auto;
    text-align: center;
    position:relative;
    z-index:0;
    float:right;
    display:none;
}

.svg-turkiye-haritasi svg,.svg-turkiye-haritasi2 svg  {
    width: 100%;
    height: auto;
    /*viewBox:0 0 1007.478 527.323;*/
}

.svg-turkiye-haritasi path, .svg-turkiye-haritasi2 path {
    cursor: default;
    fill: #66b0b3;
}

.sehirReferans {
    display: none;
    padding: 1% 1% 1% 2%;
    width: 100%; 
    float: left;
}

#info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
}

.ilbaslik {
    text-align: center;
    font-size: 35px;
    text-shadow: 2px 5px 15px;
}

.kategoribaslik {
    color: #263a60;
    font-size: 25px;
    text-shadow: -1px 0px 1px;
    font-variant: small-caps;
}

.referansicerik {
    width: 33.3%;
    float: left;
    padding: 1%;
}

.referansicerik img {
    width: 30%;
    float: left;
    max-height: 100px;
}

.referansicerik a {
    float: left;
    width: 50%;
    margin-left: 2%;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}

.referansicerik a:hover {
    text-decoration: none;
    color:black;
}
a.sehirlink:hover, a.sehirlink:active {color: #D12721;}
